body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.current, .highlight {
    color: #e8491d;
    font-weight: bold;
}

header {
    height: 100px;
    background-color: #697378;
}

header h1 {
    margin: 0 400px 0 30px;
    text-align: center;
    color: #ffffff;
    float: left;
    font-size: 40px;
}

header .description {
    margin-right: 400px;
    float: left;

}

header nav div {
    margin: auto;
    margin-right: 20px;
    float: right;
}

header a {
    margin-left: 20px;
    font-size: 18px;
    text-decoration: none;
    color: #ffffff;
}

header a:hover {
    color: rgba(0,0,0,0.7);
}

footer {
    width:100%;
    padding: 3px;
    text-align: center;
    background-color: #e8491d;
}

footer p {
    color:white;
}

.random, .random1, .random2:hover {
    color: rgba(0,0,0,0.7);
}